[submodule "thirdparty/wine"]
	path = thirdparty/wine
	url = https://github.com/VerySleepy/wine
	branch = sleepy
[submodule "thirdparty/drmingw"]
	path = thirdparty/drmingw
	url = https://github.com/jrfonseca/drmingw
[submodule "thirdparty/wxWidgets"]
	path = thirdparty/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
[submodule "tests"]
	path = tests
	url = https://github.com/VerySleepy/tests
